.board{
    /* background-color: gray; */
    position: fixed;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    background-color: rgb(70, 70, 70);
}

.row{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    /* margin: 2px; */
}

.block{
    cursor: pointer;
    user-select: none;
    transition: all 0.25s ease-in-out;
    display: flex;
    flex-direction: column;
    margin: 0rem;
}

.captures{
    background-color: gray;
    padding: 0.4rem;
    position: fixed;
    left: 72rem;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: rgb(50,50,50);
    border-radius: 0.4rem;
    font-size: 1.6rem;
    text-transform: uppercase;
}
.circle{
    position: relative;
    margin: 0rem 0rem 0rem 0rem;
    background-color: rgb(0, 0, 0,0.3);
}
.check{
    width: 2rem;
    height: 2rem;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: rgb(70, 150, 80);
    border-radius: 0.4rem;
}

.prom{
    background-color: rgb(70, 150, 80);
    border-style: solid;
    border-color: rgb(0,0,0);
    border-width: 4px;
    padding: 0.4rem;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    position: fixed;
    left: 2rem;
    top: 2rem;
    justify-content: space-around;
    display: none;
}

.piece{
    scale: 0.9;
    transition: all 0.05s ease-in-out;
}

.piece:active{
    scale: 0.9;
}